@use '../../../styles/vars';

.mint {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-size: vars.$fontSize_normal;
    margin: 1rem;

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
    }

}

.mintForm {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        text-align: center;
        border-bottom: solid .1rem grey;
    }

    &__panel {
        display: flex;
        margin-top: 1rem;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px lightgray;
    }
}

.panelLeft {
    margin: 1rem;
    height: 100%;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;

        input {
            border: none;
            box-shadow: 0px 0px 3px vars.$color_callToAction;
            border-radius: .5rem;
            width: 30%;
            height: 2rem;
        }

        &--inputPicker {
            width: 30%;
            border: none;
            box-shadow: 0px 0px 3px vars.$color_callToAction;
        }

    }
}

.panelRight {
    margin: 1rem;
    height: 100%;

    &__doc {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__btn {
        background-color: vars.$color_callToAction;
        height: 3rem;
        margin-top: 1rem;
        border-radius: 1rem;
        color: white;
        font-weight: bold;
    }

    &__btn:hover {
        box-shadow: inset 0px 0px 5px white;
    }

}

.proposalList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin: 1rem;
    border-radius: 1rem;

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
        border-bottom: solid .1rem grey;
        margin-bottom: 1rem;

    }

    &__legend {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: bold;
        background-color: lightgray;
        padding: 0 .5rem;

    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 .5rem;
        border-bottom: solid .1rem grey;

        button {
            background-color: vars.$color_callToAction;
            color: white;
            border-radius: .8rem;
            padding: .2rem .5rem;
        }

        button:hover {
            box-shadow: inset 0px 0px 5px white;
            text-decoration: none;
            color: white;
        }

        &__detail {

            &--button {
                background-color: vars.$color_callToAction;
                color: white;
            }
        }
    }


}

.icon {
    color: vars.$color_callToAction;
}