@use '../../../../../styles/vars';

.nftDigitalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px grey;
    border-radius: 1rem;
    height: 35vh;
    // width: 20vw;

    &__category {
        background-color: vars.$color_digitalNft;
        width: 100%;
        height: 3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: vars.$color_white;

    }

    &__image {
        background-color: lightgray;
        width: 100%;
        height: 60%;
        padding: .5rem;
    }

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        margin-top: .2rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        width: 100%;

        &__button--sell {
            width: 50%;
            height: 2rem;
            background-color: vars.$color_callToAction;
            border-radius: .5rem;
            color: white;
            font-weight: bold;
        }

        &__button--loan {
            width: 50%;
            height: 2rem;
            background-color: vars.$color_callToAction;
            border-radius: .5rem;
            color: white;
            font-weight: bold;
        }
    }
}