// ::: COLORS ::::
$color_callToAction : #002Fa7;
$color_propertyNft : #00b4d8;
$color_digitalNft: #5271ff;
$color_black: #31394d;
$color_white: #fffdfa;

// ::: FONT SIZE ::::
$fontSize_normal : 1rem;
$fontSize_dig : 1.2rem;