@use '../../../styles/vars';
@import "rsuite/dist/rsuite.css";

.menu {
    color: white;
    background-color: vars.$color_black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    top: 0px;
    // padding: 1rem;

    &__logo {
        height: 3rem;
    }

    &__navBar {
        display: flex;
        justify-content: center;
        gap: 2rem;
        // height: 50px;
        // vertical-align: middle;

        &--item {
            color: vars.$color_white;
            text-decoration: none;
            transition: color .2s;

        }

        &--item:hover {
            color: vars.$color_digitalNft;
            text-decoration: none;
            transition: color .2s;

        }

    }


}