@import "rsuite/dist/rsuite.css";

.menu {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    // align-items: baseline;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;

    &__navBar {
        height: 50px;

        &--item {
            vertical-align: middle;
            color: white;

        }
    }

    .logo {}



}