@use '../../../styles/vars';
@import "rsuite/dist/rsuite.css";

.menu {
    color: white;
    background-color: vars.$color_black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    top: 0px;
    // padding: 1rem;

    &__logo {
        height: 3rem;
    }

    &__navBar {
        display: none;
    }

    &__navBarMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__btn {
            height: 50px;
        }

        &--item {
            display: none;
        }

        &--item--visible {
            width: 200%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, .9);
            font-size: 1.5rem;
            padding: .5rem 2rem;
            border-bottom: solid 1px lightgray;
            color: vars.$color_black;
        }
    }



}

@media (min-width: 1000px) {
    .menu__navBar {
        display: flex;
        justify-content: center;
        gap: 2rem;
        // height: 50px;
        // vertical-align: middle;

        &--item {
            color: vars.$color_white;
            text-decoration: none;
            transition: color .2s;

        }

        &--item:hover {
            color: vars.$color_digitalNft;
            text-decoration: none;
            transition: color .2s;

        }

    }

    .menu__navBarMobile {
        display: none;
    }
}