@use '../../../styles/vars';
@import "rsuite/dist/rsuite.css";

.menu {
    color: white;
    background-color: vars.$color_black;
    display: flex;
    justify-content: space-between;
    // align-items: baseline;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;

    &__navBar {
        height: 50px;
        vertical-align: middle;

        &--item {
            color: vars.$color_white;
            text-decoration: none;
        }
    }


}