@use '../../../styles/vars';

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px vars.$color_black;
    height: 4rem;
    width: 15rem;
    background-color: vars.$color_digitalNft;
    color: vars.$color_white;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    padding: 0 1rem;
    background-color: vars.$color_digitalNft;

    color: white;
}

.selector {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;

    &__item {
        width: 15%;
        height: 3rem;
        border-radius: 1rem;
        transition: background-color .5s;

        &--active {
            width: 15%;
            background-color: vars.$color_callToAction;
            color: white;
            border-radius: 1rem;
            font-weight: bold;




        }

        &--active:hover {
            box-shadow: inset 0px 0px 7px white;


        }


    }

    &__item:hover {
        box-shadow: inset 0px 0px 5px vars.$color_callToAction;
    }

}

.nftList {
    margin: 1rem;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (min-width: 721px) {
    .nftList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .nftList {
        grid-template-columns: repeat(6, 1fr);
    }
}

.modal {
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}