@use '../../../styles/vars';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: calc(2rem + 50px);

}

.headLine {
    font-size: 2rem;
    width: 100%;

    strong {
        color: vars.$color_digitalNft;
    }

    &__btn {
        color: vars.$color_white;
        background-color: vars.$color_callToAction;
        height: 4rem;
        border-radius: 1rem;
        margin-top: 2rem;

        &--link {
            text-decoration: none;
            color: white;
        }
    }

    &__btn:hover {
        box-shadow: inset 0px 0px 5px white;
    }
}

.nft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin: 0 2rem;



    &__digital {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 5rem;
        font-size: 1.2rem;

        &--title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--image {
            width: 50%;
        }

        strong {
            color: vars.$color_propertyNft;
        }
    }

    &__property {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;


        &--title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--image {
            width: 40%;
        }

        strong {
            color: vars.$color_digitalNft;
        }
    }
}

@media (min-width: 721px) {
    .nft {
        flex-direction: row;

        &__digital {
            width: 50%;
        }

        &__property {
            width: 50%;
        }
    }

}