@use '../../../styles/vars';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;

}

.headLine {
    font-size: 2rem;
    width: 75%;

    strong {
        color: vars.$color_digitalNft;
    }

    &__btn {
        color: vars.$color_white;
        background-color: vars.$color_callToAction;
        height: 4rem;
        border-radius: 1rem;
        margin-top: 2rem;

        &--link {
            text-decoration: none;
            color: white;
        }
    }

    &__btn:hover {
        box-shadow: inset 0px 0px 5px white;
        text-decoration: none;
        color: white;
    }
}

.nft {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 5rem;

    &__digital {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        margin-top: 5rem;
        font-size: 1.2rem;

        &--title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--image {
            width: 50%;
        }

        strong {
            color: vars.$color_propertyNft;
        }
    }

    &__property {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1.2rem;


        &--title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--image {
            width: 40%;
        }

        strong {
            color: vars.$color_digitalNft;
        }
    }
}