@use '../../../styles/vars';

.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        background-color: vars.$color_callToAction;
        color: white;
        border-radius: .8rem;
        padding: .2rem .5rem;
        width: 100%;
        height: 2rem;
    }

    input {
        border: none;
        box-shadow: 0px 0px 3px vars.$color_callToAction;
        border-radius: .5rem;
        width: 100%;
        height: 2rem;
    }
}

.createCollection {
    box-shadow: 0px 0px 10px lightgray;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    p {
        text-decoration: underline;
    }
}

.daoMembers {
    box-shadow: 0px 0px 10px lightgray;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    p {
        text-decoration: underline;
    }
}

.fees {
    box-shadow: 0px 0px 10px lightgray;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

@media (min-width: 721px) {

    .createCollection,
    .daoMembers,
    .fees {
        width: 50%;
    }
}