@use '../../../styles/vars';

.footer {
    background-color: vars.$color_black;
    color: vars.$color_white;
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
    // bottom: 0px;
    font-size: .8rem;
}