@use '../../../styles/vars';

.daoProposal {
    width: 95vw;
    height: 90vh;
    margin: 1rem;

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        border-bottom: solid .1rem grey;
    }

    &__panel {
        // height: 100%;
        display: flex;
        // background-color: lightgray;
        box-shadow: 0px 0px 10px lightgray;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0;


    }
}

.panelLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: .5rem;

    &__picture {
        height: 50%;
        background-color: white;
        padding: 1rem;
        margin: .5rem;
        border: solid .2rem rgb(99, 99, 99);
        border-radius: 1rem;
    }

    &__vote {
        height: 50%;
        background-color: lightgray;
        border-radius: 1rem;
        padding: 1rem;
        margin: .5rem;

        &__title {
            font-weight: bold;
        }

        &__value {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            input {
                border: none;
                box-shadow: 0px 0px 3px vars.$color_callToAction;
                border-radius: .5rem;
            }
        }

        &__setVote {
            display: flex;
            justify-content: space-between;

            &--no {
                background-color: rgb(99, 99, 99);
            }

            &--yes {
                background-color: vars.$color_callToAction;
            }

            button {
                width: 45%;
                color: white;
                font-weight: bold;
                height: 2rem;
                border-radius: .5rem;

            }
        }

        &__closeVote {


            button {
                background-color: rgb(181, 14, 14);
                width: 100%;
                color: white;
                font-weight: bold;
                height: 2rem;
                border-radius: .5rem;
                margin-top: 1rem;
            }
        }

        &__result {
            font-size: vars.$fontSize_dig;
            font-weight: bold;
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            &--accepted {
                color: green;
            }

            &--refused {
                color: rgb(181, 14, 14);
            }
        }
    }

}

.panelRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: .5rem;

    &__desc {
        height: 50%;
        padding: 1rem;
        margin: .5rem;

        &--title {
            font-weight: bold;
            border-bottom: solid .1rem rgb(99, 99, 99);
        }
    }

    &__doc {
        height: 50%;
        padding: 1rem;
        margin: .5rem;

        &--title {
            font-weight: bold;
            border-bottom: solid .1rem rgb(99, 99, 99);
        }
    }



}