@use '../../../styles/vars';

.dao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-size: vars.$fontSize_normal;
    margin: 1rem;

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
    }

}

.proposalList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin: 1rem;
    border-radius: 1rem;

    &__legend {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: bold;
        background-color: lightgray;
        padding: 0 .5rem;

    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 .5rem;
        border-bottom: solid .1rem grey;

        button {
            background-color: vars.$color_callToAction;
            color: white;
            border-radius: .8rem;
            padding: .2rem .5rem;
        }

        &__detail {

            &--button {
                background-color: vars.$color_callToAction;
                color: white;
            }
        }
    }


}