@use '../../../../../styles/vars';

.nftPropertyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px grey;
    border-radius: 1rem;
    height: 40vh;
    // width: 20vw;

    &__category {
        background-color: vars.$color_propertyNft;
        width: 100%;
        height: 2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: vars.$color_white;

    }

    &__image {
        background-color: white;
        width: 100%;
        height: 50%;
        padding: .5rem;
        // aspect-ratio: 1;
    }

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        margin-top: .2rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        width: 100%;

        &__button {
            width: 90%;
            height: 2rem;
            background-color: vars.$color_callToAction;
            border-radius: .5rem;
            color: white;
            font-weight: bold;

            &--inactive {
                width: 90%;
                height: 2rem;
                background-color: lightgray;
                border-radius: .5rem;
                color: white;
                font-weight: bold;
            }
        }

    }
}

.modal {

    &__title {
        font-size: vars.$fontSize_dig;
        font-weight: bold;
        color: vars.$color_black;
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__input {
            margin: 1rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                border: none;
                box-shadow: 0px 0px 3px vars.$color_callToAction;
                border-radius: .5rem;
                width: 50%;
                height: 1.5rem;
            }
        }

        button {
            background-color: vars.$color_callToAction;
            color: vars.$color_white;
            font-weight: bold;
            border-radius: 1rem;
            height: 2rem;
            width: 90%;
        }

        &__btn {
            display: flex;
            width: 100%;
            gap: 1rem;
            margin-top: 1rem;

            .grey {
                background-color: lightgray;
            }
        }


    }
}