@use '../../../styles/vars';

.marketplace {
    margin-top: 50px;
}

.titleMarketplace {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    padding: 0 1rem;
    background-color: vars.$color_digitalNft;
    font-size: 2rem;
    color: white;
}

.selector {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;

    &__item {
        width: 15%;
        height: 3rem;
        border-radius: 1rem;
        transition: background-color .5s;

        &--active {
            width: 15%;
            background-color: vars.$color_callToAction;
            color: white;
            border-radius: 1rem;
            font-weight: bold;
            transition: background-color .5s;

        }

        &--active:hover {
            box-shadow: inset 0px 0px 5px white;
        }


    }

    &__item:hover {
        box-shadow: inset 0px 0px 5px vars.$color_callToAction;
    }


}

.nftList {
    margin: 1rem;
    margin-top: 2rem;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (min-width: 721px) {
    .nftList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .nftList {
        grid-template-columns: repeat(6, 1fr);
    }
}