@use '../../../styles/vars';



.collectionList {
    font-size: vars.$fontSize_normal ;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 30px;
    padding: 0 1rem;
    background-color: vars.$color_callToAction;

    color: white;

    &__collection {
        background-color: transparent;
        width: 10%;

        &--navLink {
            color: white;
            text-decoration: none;

        }
    }
}